# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Databases and Uploads (handled by volumes in prod)
backend/database.sqlite
backend/database.sqlite-wal
backend/database.sqlite-shm
backend/uploads/*
!backend/uploads/.gitkeep

# IDE and Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
