<section class="section" id="skills">
    <div class="container">
        <!-- <div class="section-header">
            <h2 class="section-title gradient-text">{{ 'skills.title' | translate }}</h2>
            <p class="section-subtitle">{{ 'skills.subtitle' | translate }}</p>

            <div class="skills-legend">
                @for (lvl of autonomyScale; track lvl) {
                <div class="legend-item">
                    <span class="legend-dot" [style.--level]="lvl"></span>
                    <span class="legend-label">{{ (lvl) }}/5 : {{ 'skills.autonomy.level' + lvl | translate }}</span>
                </div>
                }
            </div>
        </div> -->

        <div class="skills-grid">
            @for (category of skillCategories(); track category.name) {
            <div class="skill-category glass-card">
                <div class="category-main">
                    <div class="category-icon-wrapper">
                        <img [src]="getIconUrl(category.id)" [alt]="category.name + ' icon'">
                    </div>
                    <div class="category-info">
                        <h3 class="category-title">{{ category.name }}</h3>
                        <p class="skills-count">{{ category.skills.length }} {{ 'skills.technologies' | translate }}</p>
                    </div>
                </div>

                <div class="skills-tags-container">
                    @for (skill of category.skills; track skill.name) {
                    <div class="advanced-skill-tag"
                        [class.has-autonomy]="!!skill.autonomyLevel"
                        [class.advanced-skill-tag-has-experience]="skill.autonomyLevel"
                        [style.--level]="skill.autonomyLevel || 0">
                        <span class="tag-name">{{ skill.name }}</span>
                        @if (skill.autonomyLevel) {
                        <div class="tag-autonomy-indicator">
                            <span class="level-indicator"></span>
                            <div class="level-details">
                                <span class="level-label">{{ (skill.autonomyLevel || 0) }}/5</span>
                                <span class="level-text">{{ autonomyLabel(skill.autonomyLevel) | translate }}</span>
                            </div>
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</section>
